<!-- <button type="button" onclick="history.back()">Back</button>

<button type="button" onclick="document.location='logout'">logout</button> -->

<style>
  table,
  th,
  td {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    width: 1100px;
    height: 21px;
  }

  th,
  td {
    background-color: #96d4d4;
  }

  button {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/cpanel-10ae6.appspot.com/o/bg-01.jpg?alt=media&token=c6d82939-bb59-4ff4-903c-09b0af8c7b28);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    margin-top: 2.9%;
  }

  h1 {
    text-align: center;
    color: white;
  }
  button:hover {
    background-color: rgb(236, 136, 203);
  }
  button {
    cursor: pointer;
  }
  #po {
    margin-left: 15%;
    padding-top: 3%;
  }
  #ko {
    margin-left: 24%;
  }
  #io {
    margin-top: 0.8%;
    padding-top: 1%;
  }
</style>
<h1 id="io">Certification Details</h1>
<body>
  <div>
    <button
      type="button"
      style="position: absolute; top: 2px; left: 14px"
      onclick="history.back()"
    >
      Back
    </button>

    <button
      type="button"
      onclick="document.location='logout'"
      style="position: absolute; top: 2px; right: 14px"
    >
      logout
    </button>

    <table id="po">
      <tr>
        <th>Employee Name</th>
        <th>CSP</th>
        <th>Certification Level</th>
        <th>Certification Name</th>
        <th>Certification Id</th>
        <th>Date of Certification</th>
        <th>Expiry of Certification</th>
        <th>Validity</th>
      </tr>
      <tr>
        <td>{{ename}}</td>
        <td>{{csp}}</td>
        <td>{{clevel}}</td>
        <td>{{cname}}</td>
        <td>{{cid}}</td>
        <td>{{cdate}}</td>
        <td>{{edate}}</td>
        <td>{{validity}}</td>
      </tr>
    </table>

    <br />
    <br />

    <br />

    <img id="ko" src="{{cimg}}" width="52%" height="57%" />
  </div>
</body>
