{% if m %}

<script>
  alert("{{m}}");
</script>

{% endif %}

<style>
  body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
  }

  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }

  h1 {
    text-align: center;
    padding-top: 15px;
  }

  form {
    width: 300px;
    margin-left: 20px;
  }

  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }

  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }

  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }

  button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    border-radius: 3px;
  }

  button:hover {
    background-color: rgb(93, 138, 9);
  }
  #sub:hover {
    background-color: rgb(93, 138, 9);
  }
  #sub,
  button {
    cursor: pointer;
  }
</style>

<body>
  <div class="signup-box">
    <h1>Sign Up</h1>

    <form action="postup" method="post">
      {% csrf_token %} Name:
      <input type="text" name="name" /><br /><br />

      Email :
      <input type="email" name="email" /><br /><br />
      Password :
      <input type="password" name="password" /><br /><br />

      <input type="submit" id="sub" value="Signup" />

      <button type="button" onclick="document.location='cancelsignup'">
        sign in
      </button>
    </form>
  </div>
</body>
